body {
  background-color: lightblue;
}
/* bruh comment */
h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: #00F8F0;
  margin-left: 20px;
}

h3 {
    color: rgb(20,80,38);
}

p {
    color: hsl(20,80,38);
    text-decoration: overline;
}

p.dotted {
  border-style: dotted;
  border-color: #00F8F0;
  border-width: 5px;
  border-radius: 10px;
}


