body {
  background-color: lightblue;
}

* {
  font-family: 'Fraunces', serif;
}
/* bruh comment */
h1 {
  color: navy;
  margin-left: 20px;

}

h1:hover {
  color: pink;
  margin-left: 20px;
    line-height: 2em;

}

h2 {
  color: #00F8F0;
  margin-left: 20px;
    line-height: 2em;

}

body header {
  color: #00F8F0;
  margin-left: 20px;
}

p > span {
  background-color: DodgerBlue;
    line-height: 2em;

}

img + figcaption {
  font-weight: bold;
}

h1 + b {
  background-color: blanchedalmond;
}

h3, ol {
    color: rgb(20,80,38);
}

*p {
    color: hsl(20,80,38);
    text-decoration: overline;
    text-align: center;
}


audio{
  display:block;
  min-width: 10%;
  position: relative;
  top: 10px;

}
p.dotted {
  border-style: dotted;
  border-color: #00F8F0;
  border-width: 5px;
  border-radius: 10px;
}

#bruh1 {
  background-color: orange;
}

li[class="a"] {
    background-color: yellow;
}

svg {
  display: none;
}


div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

img {
  height: 300px;
  border: 15px solid green;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: static;
}

button:active {
  color:chartreuse;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}
