body {
  background-color: lightblue;
}
/* bruh comment */
h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: #00F8F0;
  margin-left: 20px;
}

h3 {
    color: rgb(20,80,38);
}

p {
    color: hsl(20,80,38);
}

